* {
	padding: 0;
	margin: 0;
}

canvas {
	display: block;
	margin: 0 auto;
}

body {
	margin: 8px 8px;
	background-color: #101010;
	/*background-color: #fff;*/
	/*color: hsl(120, 10%, 90%);*/
	color: #DDD;
	font-size: 12px;
	font-family: Fira Mono, sans-serif;
	/*
	-webkit-text-stroke: 2px #000;
	paint-order: stroke fill;
	*/
	/*
	text-shadow:
	-1px    -1px	0   #000,
	1px     -1px	0   #000,
	-1px    1px		0   #000,
	1px     1px		0   #000;
	*/
}

table {
	margin: 2px 2px;
	padding: 0px 0px;
	border: 1px solid #4F4F4F;
	border-radius: 6px;
	background-color: hsl(120, 10%, 10%);
}

td,
th {
	padding: 2px;
	background-color: #0E0E0E80;
	border: 0px solid black;
	text-align: left;
	vertical-align: top;
}

.infoBlockRow {
	display: inline-block;
	padding: 0 8px 0 0;
	vertical-align: top;
}

.infoBlockColumn {
	padding: 0 8px 8px 0;
	vertical-align: top;
}

.infoBlock {
	display: inline-block;
	padding: 0 8px 0 0;
	vertical-align: top;
}

.monsterBlock {
	display: inline-block;
	padding: 16px 0px 0 0;
	vertical-align: top;
}

.inline {
	display: inline-block;
	padding: 0 4px 0 0;
	vertical-align: top;
}

.divtd {
	display: inline-block;
	padding: 0 4px 0 0;
	width: 8%;
}

.diffBlock {
	padding: 0 0 4px 0;
}

.name {
	border-radius: 8px;
	font-size: 14px;
	font-weight: bold;
	color: #FFF;
}

.energy {
	color: #6699CC;
}

.hull {
	color: #33B333;
}
.armor {
	color: #a2a2a2;
}
.resistant {
	font-style: italic;
}

span.heal {
	/*color: #34E20F;*/
	font-weight: bold;
	color: #30BE12;
}

.power {
	color: #d6bf3d;
}

.chat_default {
	color: #dddddd;
}

.chat_system {
	color: #ddddaa;
}

.chat_death {
	color: #ddaaaa;
}

.chat_admin {
	color: #aadddd;
}

.chat_dev {
	color: #aaaadd;
}

span.cKey {
	font-weight: normal;
	color: #DDD;
}

span.cKeyValue {
	font-weight: bold;
	color: #FFF;
}

a {
	font-size: 14px;
	margin: 4px 4px;
}

img {
	vertical-align: bottom;
}

a:link {
	color: #AAA;
	text-decoration: underline;
}

a:visited {
	color: #AAA;
	text-decoration: underline;
}

a:hover {
	color: #FFF;
	text-decoration: none;
}

a:active {
	color: #333;
	text-decoration: none;
}

a.current {
	color: #444;
	text-decoration: none;
}

.glossary_term {
	font-weight: bold;
	color: #0098FF;
	font-size: 16px;
	margin: 4px 4px;
}

.glossary_definition {
	font-size: 16px;
	margin: 8px 20px;
	width: 728px;
	line-height: 120%;
}